<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="csvOutputFilePath" value="C:\Users\byacoube\Downloads\SG transfer reports\allmetadata_SG.csv" />
    <add key="xlsxFilesFolderPath" value="C:\Users\byacoube\Downloads\SG transfer reports\xlsx" />

  </appSettings>

</configuration>